{% extends '::base.html.twig' %}

{% block title %}
	TicketSystem
{% endblock %}

{% block body %}

	<div class="row">
		<div class="pull-right margin-bottom-15 col-sm-3">
			<a href="{{ path('panel_ticketsystem_new') }}" class="btn btn-block btn-primary"><i class="fa fa-plus"></i> New</a>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Subject</th>
					<th>Category</th>
					<th>Status</th>
					<th>Option</th>
				</tr>
			</thead>
		{% set aType = {0:'new',1:'open',2:'closed'} %}
		{% for iKey, oCurTicket in aTicketSubject %}
			<tr>
				<td>{{ oCurTicket.getName }}</td>
				<td>{{ oCurTicket.category.name }}</td>
				<td>{{ aType[oCurTicket.getType] }}</td>
				<td><a href="{{ path('panel_ticketsystem_detail', {'ticketid': oCurTicket.getId}) }}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a></td>
			</tr>
		{% endfor %}
		</table>
	</div>

{% endblock %}