<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} >> IgelSystem</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

	<link href="{{ asset('bundles/igelmain/css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ asset('bundles/igelmain/css/font-awesome.css') }}" rel="stylesheet">

	<!-- KoKsPfLaNzE -->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/igelmain/css/style.css') }}">

</head>
<body>
	<div class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<nav class="top-header-menu pull-right">
						<ul class="menu">
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<li>
									<a href="{{ path('main_security_logout') }}">Logout</a>
								</li>
								{% if is_granted('ROLE_ADMIN') %}
									<li class="devider"> </li>
									<li>
										<a href="{{ path('admin_main') }}">Admin</a>
									</li>
								{% endif %}
							{% else %}
								<li>
									<a href="{{ path('main_security_login') }}">Login</a>
								</li>
								<li class="devider"> </li>
								<li>
									<a href="{{ path('main_user_register') }}">Register</a>
								</li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<header>
		<div class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="{{ path('main_security_login') }}" class="navbar-brand">IgelSystem</a>
				</div>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<nav class="collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="{{ isActive('igel\\panel', 'ticketsystem') }}"><a href="{{ path('panel_ticketsystem_index') }}">Ticketsystem</a></li>
					</ul>
				</nav>
				{% endif %}
			</div>
		</div>
	</header>

	{% block slice %}
		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs margin-bottom-30">
			<div class="container">
				<h1 class="pull-left">{{ block('title') }}</h1>
			</div><!--/container-->
		</div><!--/breadcrumbs-->
	{% endblock %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% block body %}{% endblock %}
			</div>
		</div>
	</div>



	<div class="clearfix margin-bottom-20"></div>

	<footer>
		<div class="container">
			<hr />
			<div class="row">
				<div class="col-lg-9 copyright">
					{{ "NOW"|date('Y') }} &copy; IgelSystem. All rights reserverd. <a href="{{ path('site_impressum') }}">Impressum</a>
				</div>
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="{{ asset('bundles/igelmain/js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/igelmain/js/bootstrap.dropdown.js') }}"></script>
	{% block javascripts %}{% endblock %}
</body>
</html>
