{% extends '::base.html.twig' %}

{% block title %}
	{{ 'site_privacy'|trans }}
{% endblock %}


{% block body %}
	{{ 'site_privacy_text'|trans }}
	<h3>{{ 'site_privacy_facebook'|trans }}</h3>
	{{ 'site_privacy_facebook_txt'|trans }}

	<h3>{{ 'site_privacy_analytics'|trans }}</h3>
	{{ 'site_privacy_analytics_txt'|trans }}

	<h3>{{ 'site_privacy_adsense'|trans }}</h3>
	{{ 'site_privacy_adsense_txt'|trans }}

	<h2>{{ 'site_privacy_google_plus'|trans }}</h2>
	<h3>{{ 'site_privacy_google'|trans }}</h3>
	{{ 'site_privacy_google_1'|trans }}

	<h3>{{ 'site_privacy_google_headline'|trans }}</h3>
	{{ 'site_privacy_google_2'|trans }}

	<h3>{{ 'site_privacy_twitter'|trans }}</h3>
	{{ 'site_privacy_twitter_txt'|trans }}
	<br/><br/>
	{{ 'site_privacy_quelle'|trans }}

{% endblock %}
